<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>We'll be back</h1>
    <p>Site is currently down. Please check back soon</h1>
  </body>
</html>
